output/
*~
build/
class
*.prof
*.ini
libclass.a
*out
python/classy.c
python/*.pyc
python/build/
# CosmoRec
*.o
libCosmoRec.a
cosmorec/CosmoRec
cosmorec/Development/Cosmology/Recfast++/Recfast++
class.dSYM/
output_*
