output/
*~
build/
class
*.prof
*.ini
libclass.a
*out
python/classy.c
*.pyc
python/build/
*.dSYM
RealSpaceInterface/cache/
.DS_Store
doc/manual/html
doc/manual/latex
ppCLASS.xcodeproj/project.xcworkspace
ppCLASS.xcodeproj/xcshareddata
ppCLASS.xcodeproj/xcuserdata
include/tmp
python/classy.cpp
.ipynb_checkpoints/*
python/cclassy.pxd
python/faulty_figs
.ipynb_checkpoints
