*~
build/
class
*.prof
libclass.a
*out
python/classy.c
python/*.pyc
python/build/
DM_Annihilation/
DM_decay_files/
DM_annihilation_old/
DM_decay_files_old/
output_mai/
output_avril/
*.dat
output_	*
class.dSYM/Contents/Info.plist
test/
*.p
script*
sfr.dat
*.png
external_fz/DarkAges/*.pyc
external_fz/transfer_functions/*.obj
external_fz/models/*/*.obj
external_fz/models/*/*.pyc
external_fz_playground/
external_fz_old/
# CosmoRec
*.o
libCosmoRec.a
cosmorec/CosmoRec
cosmorec/Development/Cosmology/Recfast++/Recfast++
class.dSYM/
output_*
output/*
