<!-- Modal Simulation List -->
<div id="simulationListModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Simulations</h5>
            </div>
            <table id="simulationTable" class="modal-body table table-hover">
                <thead id="simulationTableHead">
                </thead>
                <tbody id="simulationTableBody">
                </tbody>
            </table>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
