# ignore the .DS_store -file
.DS_store

# ignore all compiled python scripts
*.pyc

# ignore all .obj files (contains dumped data with dill, and this can lead to problems when the version of some packages used to produce it are not present)
*.obj

# ignore the html of the documentation. (The users can compile it by themselves)
sphinx-documentation/_build/
sphinx-documentation/_static/

# ignore the data tables (.dat)
*.dat

# ignore the Checkpoints of the Jupyter (IPython) notebooks in examples.
examples/.ipynb_checkpoints